/*按钮静止无操作样式*/
QPushButton
{
    background-color:rgb(255,255,255);
    color:rgb(6,168,255);
    border:2px solid rgb(6,168,255);
    font-size:15px;
    font-weight:bold;
    border-radius:10px;
}

/*鼠标悬停在按钮*/
QPushButton:hover
{
    background-color: rgb(35,167,255);
    color:rgb(255,168,255);
    border:2px solid rgb(6,168,255);
    border-radius:14px;
    font-size:20px;
    font-weight:bold;
}

/*鼠标按下按钮*/
QPushButton:pressed
{
    background-color: rgb(175,56,255);
    color:white;
    border:2px solid rgb(6,168,255);
    border-radius:14px;
    font-size:14px;
    font-weight:bold;
}

QLabel[whatsThis="style1"]
{
    font-family:"黑体";
    font-size:90px;
    font-style:normal;
    font-weight: bold;
    color:rgb(0,0,0);
}

QLabel[whatsThis="style2"]
{
    font-family:"黑体";
    font-size:44px;
    font-style:normal;
    font-weight: bold;
    color:rgb(0,0,0);
}

QLabel[whatsThis="style3"]
{
    font-family:"黑体";
    font-size:44px;
    font-style:normal;
    font-weight: bold;
    color:rgb(255,255,0);
}

QLabel[whatsThis = "style4"]
{
    background-color:rgb(255,255,255);
}

QLabel[whatsThis = "style5"]
{
    background-color:rgb(0,255,0);
}

QLabel[whatsThis = "style6"]
{
    background-color:rgb(255,100,0);
}

QLabel[whatsThis = "style7"]
{
    font-family:"黑体";
    font-size:50px;
    font-style:normal;
    font-weight: bold;
    color:rgb(0,0,0);
}

QLabel[whatsThis = "style8"]
{
    font-family:"黑体";
    font-size:38px;
    font-style:normal;
    font-weight: bold;
    color:rgb(0,0,0);
}

QLabel[whatsThis = "style9"]
{
    font-family:"黑体";
    font-size:38px;
    font-style:normal;
    font-weight: bold;
    color:rgb(0,0,0);
}

QLabel[property_name = "style_gray"]
{
    border-image: url(:/MyImage/image/grayLight.png);
}

QLabel[property_name = "style_red"]
{
    border-image: url(:/MyImage/image/redLight.png);
}

QLabel[property_name = "style_green"]
{
    border-image: url(:/MyImage/image/greenLight.png);
}

QGroupBox
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #E0E0E0, stop: 1 #FFFFFF);
    border: 3px solid gray;
    border-radius: 6px;
    margin-top: 16px;
    padding:-16 6px 0 6px;
    left:10px;
    font-family:"黑体";
    font-size:35px;
}

QGroupBox::title
{
    subcontrol-origin:margin;
    subcontrol-position:top center;
    left:0px;
    margin-left:0px;
    padding:0 1px;

}

QTableWidget
{
    background: rgb(255,255,255);
    gridline-color:rgb(0,0,0);
    alternate-background-color:rgb(48,51,55);
    selection-color: green;
    selection-background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(200,200,200),stop:1 rgb(255,255,255));
}


QHeaderView::section
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(200,200,200),stop:1 rgb(255,255,255));
    color: rgb(0,0,0);
    padding-left: 4px;border: 1px solid rgb(0,0,0);
}

QScrollBar:vertical
{
    border: 0px solid grey;
    background: transparent;
    width: 15px;
    margin: 22px 0 22px 0;
}
QScrollBar::handle:vertical
{
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 rgb(46,46,46),stop:1 rgb(66,66,66));
    min-height: 20px;
}
QScrollBar::add-line:vertical
{
    border: 0px solid grey;
    background: rgb(66,66,66);
    height: 20px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical
{
    border: 0px solid grey;
    background: rgb(56,56,56);
    height: 20px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical
{
    border: 0px solid grey;
    width: 3px;
    height: 3px;
    background: rgb(46,46,46);
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
    background: none;
}
